<div class="jumbotron">
	<h1 class="display-4">Hello, world!</h1>
	<p class="lead">
  		Esta es una pequeña aplicación que explota una API REST alimentada con datos geográficos y demográficos de todas las poblaciones de Andalucía.<br/>

		La información que se puede obtener de cada población es: <br/>
	</p>	
	<p class="lead">
		Nombre de la Población, Provincia a la que pertenece, código del Instituto Nacional de Estadística,
		Latitud y Longitud, Altitud (en metros), Superficie (en Kilómetros cuadrados) y los Habitantes censados en 2018
	</p>
  	<hr class="my-4">
  	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
