<div class="container-fluid">
	<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pob</th>
      <th scope="col">Prov</th>
      <th scope="col">Habs</th>
      <th scope="col">Lat</th>
      <th scope="col">Lon</th>
      <th scope="col">Alt(m)</th>
      <th scope="col">Sup(Km2)</th>
      <th scope="col">Ops</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let town of towns">
      <th scope="row">{{ town.codeINE }}</th>
      <td>{{ town.name }}</td>
      <td>{{ town.province }}</td>
      <td>{{ town.population }} ({{ town.year }})</td>
      <td>{{ town.latitude }}</td>
      <td>{{ town.longitude }}</td>
      <td>{{ town.altitude }}</td>
      <td>{{ town.area }}</td>
      <td><a [routerLink]="['/detail', town._id]">(Detail)</a>
           - <a [routerLink]="['/update', town._id]"><i class="fa-edit"></i>(Edit)</a>
         </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
