<div class="container-fluid">
	<div class="card" style="width: 100%;">
		<div class="card-header">
			<h5>{{ title }}</h5>
		</div>
		<div class="card-body">
			<h6>Esta operación borrará todos los registros actuales y recargará los datos iniciales</h6>
			<p>¿Está seguro de que desea continuar?</p>
			<span><a (click)="resetTowns()" class="btn btn-success">Confirmar</a></span>&nbsp;
			<span><a [routerLink]="['/towns']" class="btn btn-danger">Cancelar</a></span>
		</div>

		<div class="card-body">
			<div class="message success" *ngIf="loadStatus == 'ok'">
				Los datos iniciales se han cargado correctamente...
			</div>
			<div class="message failed" *ngIf="loadStatus == 'error'">
				No se han podido cargar los datos, se ha producido un error.
			</div>
		</div>
		<div class="card-body" *ngIf="loadStatus == 'ok'">
			<a [routerLink]="['/towns']" class="btn btn-primary btn-sm">Continuar</a>
		</div>
			